#vidbgrd {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto;height: auto; z-index: -100;
    /*background: url("app/assets/video/Instantané-1.png") no-repeat;
    background-size: cover;
    width=100%*/
}

#accueil{
    background-color:rgba(0,0,0,0);
}

.speaker {
  position: absolute;
  top: 19vh;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  width: 6rem;
  height: 5.7rem;
  left: 46vw;
  right: 0;
  margin: auto;
}

.vlCtrl {
  position: absolute;
  top: 286%;
  left: 122%;
  -webkit-transform: translate(-50%, 150%);
  transform: translate(-327%, 263%);
  height: 2.7rem;
  width: 15%;
  right: 0;
  margin: auto;
}

svg, path {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ctrlCirce {
    cursor: default;
}

.volElem {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
#sound-control{
  z-index: 100;
  width: 100%;
  height: 20px;
  position: relative;
  top: 80%;
}

.pentagon {
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 3px 3px 28px 3px;
  display:inline-block;
}
#c {
  margin: auto;
}
